.add-button {
  background: RGBA(34, 132, 113, 1.00);
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: 0.1s;
  box-shadow: -2px 1px 0px 0px rgba(0, 0, 0, 1);
  position: fixed;
  bottom: 20px;
  right: 30px;
}

.add-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
}
