.bookmark-card {
  background: white;
  padding: 0.5rem;
  margin: 1.5rem;
  border-radius: 0;
  width: 360px;
  /*max-width: 480px;*/
  box-shadow: -13px 12px 0px 0px rgba(3,3,3,1);
  cursor: pointer;
}

.bookmark-card a {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.bookmark-card .buttons {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100%;
}
