.bookmark-card {
  background: white;
  padding: 0.5rem;
  margin: 1.5rem;
  border-radius: 0;
  width: 330px;
  /*max-width: 480px;*/
  box-shadow: 2px 2px 4px 2px rgba(3,3,3,0.2);
  cursor: pointer;
}

.bookmark-card a {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.bookmark-card .buttons {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100%;
}
